---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'auto' }}",
  "minima/initialize";

/* Use OpenSSF style, see
   https://openssf.org/brand-guidelines/
*/

body, .markdown-body {
    font-family: "Cairo", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "IBMPlexSans", sans-serif;
}

@font-face {
  font-family: "Cairo";
  src: url("/assets/fonts/Cairo/Cairo-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf");
}

/* Increase weight so bold/strong are easier to identify as such.
   Without this, Cairo bold looks like unbolded text.
*/
b, strong {
  font-weight: 700;
}

/* Avoid creating orphans at the bottom of the page when printing.
   Firefox 115 doesn't support this, but it will do no harm there.
   https://stackoverflow.com/questions/34808650/orphan-css-how-avoid-headers-h1-h2-on-bottom-page
   https://caniuse.com/?search=break-after
*/
h1, h2, h3, h4, h5, h6 {
    break-after: avoid-page;
}

/* Set links to some color listed in the OpenSSF pallette in
 * https://openssf.org/about/brand-guidelines/ */
/* unvisited link */
a:link {
  color: #45208c;
}
/* visited link */
a:visited {
  color: #604693;
}
/* mouse over link */
a:hover {
  color: #170D34;
}
/* selected link */
a:active {
  color: #04ee5f;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.site-logo {
  flex: 0 0 auto;
  padding-top: 0;
}

.site-title {
  flex: 1 1 auto;
  text-align: right;
  margin-bottom: 0;
  padding-left: 20px;
  line-height: 1.2;
}

.nav-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-item {
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  text-decoration: underline;
}

